<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="formV1">
            <h2><span jhiTranslate="gatewayApp.formapplicationFormV1.detail.title">Form V 1</span> {{formV1.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.formapplicationFormV1.customerId">Customer Id</span></dt>
                <dd>
                    <span>{{formV1.customerId}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.formapplicationFormV1.formType">Form Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'gatewayApp.FormType.' + formV1.formType}}">{{formV1.formType}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/form-v-1', formV1.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
