<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-form-v-1-heading" jhiTranslate="gatewayApp.formapplicationFormV1.home.createOrEditLabel">Create or edit a Form V 1</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!formV1.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="formV1.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.formapplicationFormV1.customerId" for="field_customerId">Customer Id</label>
                    <input type="text" class="form-control" name="customerId" id="field_customerId"
                        [(ngModel)]="formV1.customerId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.formapplicationFormV1.formType" for="field_formType">Form Type</label>
                    <select class="form-control" name="formType" [(ngModel)]="formV1.formType" id="field_formType" >
                        <option value="SURVEY">{{'gatewayApp.FormType.SURVEY' | translate}}</option>
                        <option value="SIGNUP">{{'gatewayApp.FormType.SIGNUP' | translate}}</option>
                        <option value="REGISTRATION">{{'gatewayApp.FormType.REGISTRATION' | translate}}</option>
                        <option value="COMPLAINT">{{'gatewayApp.FormType.COMPLAINT' | translate}}</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
